* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #111; */

}

nav {
    height: 10vh;
    /* border: 1px solid white; */
    background: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;

    >.logo>img {
        width: 80%;

    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-transform: uppercase;


    >a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        border-bottom: 2px solid transparent;
        transition: 0.5s ease;
        transform: translateX(0%);
        font-family: 'Muli', sans-serif;
        font-size: 1rem;
        font-weight: 300;

        &:hover {
            color: #38b8ff;
            letter-spacing: 5px;
        }
    }
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: all 0.5s ease;
}

@media only screen and (max-width: 760px) {
    nav {
        justify-content: space-between;
        padding: 0 5vw;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 8vh;
        min-height: 92vh;
        /* background: #333; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0;
        padding: 0;
        transform: translateX(100%);
        transition: all 0.5s ease-in;

    }

    .nav-links a {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}



@media only screen and (max-width:640px) {
    nav {
        justify-content: space-between;
        padding: 0 5vw;

    }
}

.nav-active {
    transform: translateX(0)
}

@media only screen and (max-width:460px) {
    .nav-links {
        width: 100%;
        transition: all 0.5s ease;
    }
}

.nav-active {
    transform: translateX(0);
}

@keyframes navlinkfade {
    form {
        opacity: 1;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px)
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.back {
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-color: #38b8ff;
    border: 2px solid #333;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-image: url(../img/background211.jpg);
}

.mbr-overlay {
    left: 0;
    right: 0;
    top: 70px;
    z-index: 0;
    pointer-events: none;
    color: white;
}


.container {
    /* border: 2px solid blue; */
    background-color: #33333354;
    padding: 10px;
    margin: 300px auto;
    word-wrap: break-word;
    max-width: 1140px;
    width: 50%;
    height: 255px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;


}

.row {
    /* border: 2px solid yellow; */
    z-index: 1;
}

.align-center {
    /* background-color: #38b8ff; */
    margin: 10px auto;
    text-align: center;

    >h2 {
        font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 12px;
        letter-spacing: 2px;
        height: 50px;
        /* border: 1px solid gold; */
        color: white;
    }

    >h1 {
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.6rem;
        /* border: 1px solid gold; */

    }
}

.pt-3 {
    /* border: 1px solid magenta; */
    width: 17%;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    >a {
        background-color: black;
        border-color: #222222;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 13px;
        letter-spacing: 2px;
        font-family: 'Muli', sans-serif;


    }
}



@media (min-width: 768px) {
    .justify-content-md-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}


@media (min-width: 768px) {
    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.header3 {
    background-color: #ffffff;
    /* border: 1px solid red; */
    height: 78vh;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* border: 1px solid blue; */
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.align-left {
    text-align: left;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.cid-rmLdXTWFKW h3 {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: fit-content;
    padding: 0;
    margin: 0;
    left: 1rem;
    top: -1rem;
    letter-spacing: 2px;
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    line-height: 1.3;
    margin-top: -2%;
}

.cid-rmLdXTWFKW h3:after {
    content: "";
    color: #333;
    width: 30px;
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #232323;
    margin-left: 10px;
}

.display-2 {
    font-size: 2.8rem;
    font-style: normal;
    line-height: 1.2;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.cid-rmLdXTWFKW .mbr-text,
.cid-rmLdXTWFKW .mbr-section-btn {
    color: #767676;
}

.display-7 {
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    margin-top: 2%;
}

.mbr-text {
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0px !important;
}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.para4 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    height: 50vh;
}

.para4 .card-columns {
    column-gap: 4rem;
    column-count: 3;
    orphans: 1;
    widows: 1;
}

.para4 .card {
    margin-bottom: 2.5rem;
}

.para4 .card {
    display: inline-block;
    width: 100%;
}

.card {
    background-color: transparent;
    border: none;
    position: relative;
    background-clip: border-box;
    border-radius: .25rem;
}

.card-wrapper {
    height: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
}

.para4 .card-img {
    background-color: #fff;
    overflow: hidden;
    width: auto;
    text-align: center;
    border-radius: calc(.25rem - 1px);
}

.para4 img {
    transition: all 0.3s;
    width: 100%;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    transition: 1s ease;

    &:hover {
        -webkit-filter: blur(5px);
        transition: 1s ease;
    }

}

.para4 .card-box {
    padding: 0rem;
    padding-top: 2rem;
}

.para4 .card-title {
    color: #767676;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
    padding-bottom: .5rem !important;
}

.mbr-text {
    color: #1c1c1c;
}

.para4 h4 {
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(transparent calc(98%), currentColor 1px);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 0% 100%;
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.display-5 {
    font-family: 'Old Standard TT', serif;
    font-size: 1.7rem;
    line-height: 1.3;
    font-style: normal;
    letter-spacing: 0px !important;
}

.text-black {
    color: #000000 !important;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cid-rmLeiUq23b {
    padding-bottom: 60px;
    background-color: #efefef;
    height: 90vh;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

.cid-rmLeiUq23b H3 {
    text-align: center;
    position: relative;
    letter-spacing: 2px;
    font-style: normal;
    line-height: 1.2;
    margin-top: 50px !important;
}

.display-2 {
    font-family: 'Old Standard TT', serif;
    font-size: 2.8rem;
    font-style: normal;
    line-height: 1.2;
}

.cid-rmLeiUq23b h3:after {
    content: "";
    color: #333;
    transition: all 0.3s;
    width: 30px;
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #1c1c1c;
    margin-left: 10px;
}

.cid-rmLeiUq23b h3:hover:after {
    margin-left: -15px;
}

.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;

}

.p-3 {
    padding: 1rem !important;
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.cid-rmLeiUq23b .card-wrapper {
    /* border: 1px solid #1d1b1b; */
    position: relative;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
}

card-wrapper {
    -webkit-flex: 1;
}

.media-container-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.cid-rmLeiUq23b .card-box {
    background-color: #ffffff;
    padding: 4rem 2rem;
    height: 100%;
    width: auto;
}

.cid-rmLeiUq23b .number {
    text-align: center;
}

.display-5 {
    font-family: 'Old Standard TT', serif;
    font-size: 1.7rem;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: .5rem;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}

.cid-rmLeiUq23b .card-title {
    text-align: center;
}

.cid-rmLeiUq23b h4 {
    font-weight: 500;
    margin-bottom: 0;
    text-align: left;
}

.cid-rmLeiUq23b P {
    text-align: center;
    color: #767676
}



.mbr-text {
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0px !important;
}

.cid-rmLeiUq23b H3 {
    text-align: center;
    position: relative;
    margin-top: 2rem;
    letter-spacing: 2px;
}

.mbr-section-subtitle {
    line-height: 1.3;
}

.cid-rmLeiUq23b .card-box {
    background-color: #ffffff;
    padding: 4rem 2rem;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.cid-rmLei3Osqc {
    padding-top: 75px;
    padding-bottom: 0px;
    background-color: #ffffff;
    /* border: 1px solid red; */
}

.container-fluid {
    position: relative;
    word-wrap: break-word;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .justify-content-md-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}

.cid-rmLei3Osqc .col1 {
    margin: auto;
    max-width: 500px;
    padding: 2rem 1rem;
}

.align-left {
    text-align: left;
}

@media (min-width: 992px) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-lg-6,
.col-md-10 {
    position: relative;
    width: 100%;
}

.cid-rmLei3Osqc h3 {
    position: relative;
    margin-top: 2rem;
    letter-spacing: 2px;
}

.display-1 {
    font-family: 'Old Standard TT', serif;
    font-size: 3.6rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.cid-rmLei3Osqc h3:after {
    content: "";
    color: #333;
    transition: all 0.3s;
    width: 30px;
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #1c1c1c;
    margin-left: 10px;
}

.cid-rmLei3Osqc h3:hover:after {
    margin-left: -15px;
}

.cid-rmLei3Osqc .mbr-text,
.cid-rmLei3Osqc .mbr-section-btn {
    color: #767676;
}

.display-7 {
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
}

.mbr-text {
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0px !important;
}

.mbr-light {
    font-weight: 300;
}

.pb-2,
.py-2 {
    padding-bottom: .5rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.cid-rmLei3Osqc h3 {
    position: relative;
    margin-top: 2rem;
    letter-spacing: 2px;
}

.cid-rmLei3Osqc h4 {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: fit-content;
    padding: 0;
    margin: 0;
    left: 0rem;
    top: -1rem;
    letter-spacing: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 3%;
    margin-top: 7%;
}


.display-4 {
    letter-spacing: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

@media (min-width: 992px) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.cid-rmLei3Osqc img {
    width: 100%;
    padding: 0 15px;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.cid-rmLfefsreL {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    background-color: #ece8e5;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 75px;
    position: relative;
    background-color: #ece8e5;
    position: relative;
    word-wrap: break-word;
    margin: 10px auto;

}

.accordion .accordion-item {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-align: center !important;

    >h2 {
        font-family: 'Old Standard TT', serif;
        font-size: 2.8rem;
        font-style: normal;
        line-height: 1.2;
        font-weight: 300;
    }
}


.accordion .accordion-item .accordion-item-description-wrapper hr {
    border: none;
    visibility: visible;
    transition: 1s;

}

.accordion .accordion-item.open .accordion-item-description-wrapper hr {
    visibility: visible;
}

.accordion-item-header {
    border-radius: 0px;
    height: 60px;
    margin: 0.5rem 0;
    border: 0px;
    background: #ffffff;
    padding: 0;
}

.accordion .accordion-item .accordion-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
    padding: 1.3rem 2rem;
    margin-bottom: 0;
    color: #767676;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
    transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-header .accordion-item-header-icon {
    transform: rotate(-180deg);
}

.accordion .accordion-item .accordion-item-description-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-description-wrapper {
    grid-template-rows: 1fr;
}

.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description {
    min-height: 0;
}

.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description p {
    padding: 10px;
    line-height: 1.5;
    color: #767676;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0px !important;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: start;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cid-rmLejrMez1 {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #ffffff;


    >.container {
        margin-top: -1px;
    }

}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.cid-rmLejrMez1 img {
    width: 100%;
}

.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


img {
    vertical-align: middle;
    border-style: none;
    height: 75%;
}

.cid-rmLejrMez1 .card-wrap {
    display: flex;
    height: 100%;
    min-height: 300px;
}

.cid-rmLejrMez1 .card-box {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: auto;
    height: fit-content;
    max-width: 400px;
}

.cid-rmLejrMez1 H3 {
    color: #1c1c1c;
}

.cid-rmLejrMez1 h3 {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: fit-content;
    padding: 0;
    margin: 0;
    left: 0rem;
    top: -1rem;
    font-weight: 300;

}

.display-4 {
    letter-spacing: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

.cid-rmLejrMez1 h3:after {
    content: "";
    color: #333;
    width: 30px;
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #1c1c1c;
    margin-left: 10px;
}

.cid-rmLejrMez1 .card-title,
.cid-rmLejrMez1 .title-wrap {
    color: #1c1c1c;
}

.cid-rmLejrMez1 .mbr-text,
.cid-rmLejrMez1 .mbr-section-btn {
    color: #1c1c1c;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cid-rmLeswuYVi {
    padding-bottom: 45px;
    background-color: #ece8e5;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

@media (min-width: 992px) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.cid-rmLeswuYVi h3 {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: fit-content;
    padding: 0;
    margin: 0;
    left: 1rem;
    top: 0rem;
    font-weight: 300;
}

.display-4 {
    letter-spacing: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

.cid-rmLeswuYVi h3:after {
    content: "";
    color: #333;
    width: 30px;
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #232323;
    margin-left: 10px;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.cid-rmLeswuYVi .mbr-text,
.cid-rmLeswuYVi .mbr-section-btn {
    color: #767676;
    width: 80%;
    margin-left: -1%;
}

.display-7 {
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;

}

.mbr-text {
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0px !important;
}

.mbr-light {
    font-weight: 300;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media (min-width: 992px) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.mx-auto {
    margin-left: auto !important;
}

.mx-auto {
    margin-right: auto !important;
}

@media (min-width: 992px) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.para5 {
    /* border: 1px solid black; */
    height: 60vh;
    margin-top: -12%;
}

.container3 {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid red; */
    margin: 100px auto;
}

.form-control {
    display: block;
    width: 500px;
    margin: 10px 0;
    padding: 1rem;
    background-color: #ece8e5;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    border-bottom: 1px solid;
    border-color: #1c1c1c;
    color: #000000;
    transition: 0.4s;
    box-shadow: none;
    outline: none;
}

button {
    display: inline-block;
    background-color: #172432;
    border: none;
    color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    margin-left: 80%;
    margin-top: 10%;
    width: 20%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    transition: 1s;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.icon {
    width: 100%;
    height: 10vh;
    border: 1px solid green;
    background-color: #000000;

    >.coun {
        /* background-color: #38b8ff; */
        width: 50%;
        height: 50%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        >div {
            width: 10%;
            height: 100%;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                height: 100%;
                border-radius: 50%;
                transition: 1s;

                &:hover {
                    box-shadow: 0 0 25px #FFE469;
                    transition: all 0.75s ease;
                }
            }


        }
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cid-rmLeqHu2eK {
    padding-bottom: 60px;
    background-color: #ffffff;
    height: 10vh;
    margin-top: -12%;

}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.cid-rmLeqHu2eK .col-md-4 {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.cid-rmLeqHu2eK h5 {
    display: inline;
    text-decoration: none;
    width: fit-content;
    background-image: linear-gradient(transparent calc(98%), currentColor 1px);
    margin-bottom: 1.5rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 0% 100%;
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cid-rmLeqHu2eK H5 {
    color: #1c1c1c;
    text-align: left;
}

.cid-rmLeqHu2eK .col-md-4 {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.cid-rmLeqHu2eK H4 {
    text-align: left;
}

.display-5 {
    font-family: 'Old Standard TT', serif;
    font-size: 1.7rem;
    line-height: 1.3;
}

.cid-rmLeqHu2eK P {
    color: #767676;
}

.display-4 {
    letter-spacing: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

.mbr-text {
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0px !important;
}
    /* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
